data/calibration/images/
data/calibration/camera_intrinsics/
data/calibration/detected_images/
data/undistorted_images/
data/virtual_cameras/
data/raw_images/
reconstruction/
data/*
__pycache__/
.pytest_cache/
.venv/
myenv/
*.egg-info/
